<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>AmEstate | Admin Panel</title>
        <link rel="stylesheet" href="/backend/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/backend/css/perfect-scrollbar.min.css"/>
        <link rel="stylesheet" href="/backend/css/style.css"/>
    </head>

    <body>
        <div class="container-scroller">
            <div class="container-fluid">
                <div class="row">
                    <div class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
                        <div class="card col-lg-4 mx-auto">
                            <div class="card-body px-5 py-5">
                                <h3 class="card-title text-left mb-3">Admin Panel</h3>
                                <form action="{{path('admin_login')}}" method="POST" >
                                    <div class="form-group">
                                        <input type="text" class="form-control p_input" name="_username" value="{{username}}" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control p_input" name="_password" placeholder="Password">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block enter-btn">LOG IN</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/backend/js/jquery.min.js"></script>
        <script src="/backend/js/popper.min.js"></script>
        <script src="/backend/js/bootstrap.min.js"></script>
        <script src="/backend/js/perfect-scrollbar.jquery.min.js"></script>
        <script src="/backend/js/misc.js"></script>
    </body>

</html>
